<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/employee">Terzo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        

      </div>
    </div>
  </nav>

    
    <!--Main Content-->
  
    <div class="my-5">
      <div class="mx-auto w-50 ">
        <h2 class="text-center mb-3">Add User</h2>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <!--name-->
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="name" class="form-label">Name</label>
              <input id="name"  formControlName="name" type="text" name="name" class="form-control" placeholder="Name" required>
            </div>
         
          <!--Email-->
        
            <div class="col-md-6 form-group mb-3">
              <label for="email" class="form-label">Email</label>
              <input id="email" type="email"  formControlName="email" name="email" class="form-control" placeholder="email" required>
            </div>
          </div>

          
            <!--DOB-->
            <div class="row">
                <div class="col-md-6 form-group mb-3">
                  <label for="dob" class="form-label">DOB</label>
                  <input id="dob" type="date" name="dob"  formControlName="dob" class="form-control" required>
                </div>
              
                <!--DOJ-->
          
            <div class="col-md-6 form-group mb-3">
              <label for="doj" class="form-label">Date Of Joining</label>
              <input id="doj" type="date" name="doj"  formControlName="doj" class="form-control" required>
            </div>
          </div>

            <!--designation-->
            <div class="row">
                <div class="col-md-6 form-group mb-3">
                  <label for="designation" class="form-label">Desgination</label>
                  <input id="designation"  formControlName="designation" type="text" name="designation" class="form-control" placeholder="designation" required>
                </div>
            
            <!--department-->
           
              <div class="col-md-6 form-group mb-3">
                <label for="department" class="form-label">Department</label>
                <input id="department"  formControlName="department" type="text" name="department" class="form-control" placeholder="department" required>
              </div>
            </div>

             <!--status-->
      <div class="row">
          <div class="col-md-6 form-group mb-3">
            <label for="status" class="form-label">Status</label>
            <input id="status"  formControlName="status" type="text" name="status" class="form-control"   placeholder="status" required>
          </div>
         

        <!--employeeType-->
      
          <div class="col-md-6 form-group mb-3">
            <label for="employeeType" class="form-label">EmployeeType</label>
            <input id="employeeType"  formControlName="employeeType" type="text" name="employeeType" class="form-control"   placeholder="employeeType" required>
          </div>
        </div>
         
        <!--Direct MAnager-->
         <div class="row">
          <div class="col-md-6 form-group mb-3">
            <label for="manager" class="form-label">Direct Manager</label>
            <input id="manager" type="text" name="manager"  formControlName="directManager" class="form-control" placeholder="xyz" required/>
          </div>
      

            <!--photourl-->
          
              <div class="col-md-6 form-group mb-3">
                <label for="profileUrl" class="form-label">Profile url</label>
                <input id="profileUrl" type="text" name="profileUrl"  formControlName="profileUrl" class="form-control"  required/>
              </div>
            </div>
        

          <!--address-->
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="Address" class="form-label">Address</label>
              <textarea id="Address" type="text" name="address"  formControlName="address" class="form-control" placeholder="New Delhi, India" rows="3" required></textarea>
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="mobile" class="form-label">Mobile</label>
              <input id="mobile" type="tel" name="mobile"  formControlName="mobile" class="form-control" placeholder="mobile" required>
            </div>
          </div>
           
         
          
           
         


         
          <div class="row">
            <div class="col-md-12 form-group">
              <input [disabled]="!form.valid" class="btn btn-primary w-100" type="submit" value="Submit">
            </div>
          </div>

          <div>
            
          </div>
        </form>
  
      </div>
    </div>
    
</body>
</html>